.container-crew{
    text-align: center;
}

.background-crew {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
}

.crew-img{
    justify-self: center;
    width: 70%;
}

.container-crew-buttons{
    padding: 0 25vw;
    display: flex;
    justify-content: space-around;
    margin: 2vh 0;
}
.container-crew-buttons > button{
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 1.5vh;
    height: 1.5vh;
}
.crew-role{
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 1.3rem;
}
.crew-name{
    margin: 2vh 0;
    font-size: 2rem;
}
.crew-bio{
    font-size: 1rem;
    line-height: 2rem;
}
.innactive-button-crew{
    background-color: gray;
}
button.active-button-crew{
    background-color: white;
}

@media only screen and (min-width: 650px) {
    .background-crew {
        background-image: url(../assets/crew/background-crew-tablet.jpg);
    }
    .crew-title{
        font-size: 1.8rem;
    }
    .crew-img{
        justify-self: center;
        width: 50%;
    }
    .container-crew{margin-top: 15vw;}
    .crew-role{
        font-size: 1.8rem;
    }
    .crew-name{
        font-size: 3rem;
    }
    .crew-bio{
        margin: 0 5rem;
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    .container-crew-buttons > button{
        width: 2vh;
        height: 2vh;
    }
}
@media only screen and (min-width: 1300px) {
    .background-crew {
        background-repeat: no-repeat;
        background-image: url(../assets/crew/background-crew-desktop.jpg);
    }
    .container-crew{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 300px;
        grid-template-areas: "title title";
        text-align: unset;
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        padding-top: 18vh;
        padding-left: 20vw;
    }
    .crew-title{
        grid-column: title;
    }
    .crew-img{
        grid-column: 2;
        grid-row: 2;
        justify-self: center;
        width: 50%;
    }
    .container-crew-description{
        padding-right: 5vw;
        grid-column: 1;
        grid-row: 2;
    }
    .crew-bio{
        margin: 0;
    }
    .container-crew-buttons{
        margin: 0;
        margin-top: 5vh;
        padding: 0;
        justify-content: unset;
        gap: 5px;
    }
}