* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: 0;
    background-color: hsl(185, 75%, 39%);
}

main {
    background-color: white;
    height: auto;
    width: 90%;
    margin: 50vw auto;
    border-radius: 5vw;
}

.main-card {
    position: relative;
    height: auto;
}

.pattern-card {
    border-radius: 5vw 5vw 0 0;
}

.first-part {
    position: relative;
    text-align: center;
}

.second-part {
    margin-top: 20vw;
    text-align: center;
    margin-bottom: 10;
}

.pattern-card {
    width: 100%;
}

.victor-img {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    right: 35vw;
    border-style: solid;
    border-radius: 50vw;
    border-color: white;
    border-width: 1.5vw;
}

.stats {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 5vw;
}

h4 {
    font-size: 3vw;

}

.text-color1 {
    color: hsl(227, 10%, 46%);
}

.text-color2 {
    color: hsl(229, 23%, 23%);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:600px) {

    main{
        width: 20%;
        margin: 10vw auto;
        border-radius: 1vw;
    }
    .main-card {
       
    }
    
    .pattern-card {
        border-radius: 1vw 1vw 0 0;
    }
    .first-part {
    }
    
    .second-part {
        margin-top: 5vw;
        text-align: center;
        margin-bottom: 10;
    }
    
    .pattern-card {

    }
    .victor-img {
        width: 5vw;
        border-style: solid;
        border-radius: 5vw;
        border-color: white;
        border-width: 0.3vw;
    }
    h1 {
        font-size: 1vw;
    }
    
    h4 {
        font-size: 0.5vw;
    
    }
}
