.crew{
    text-align: center;
    font-size: 0.5rem;
}

.crew > img{
    justify-self: center;
    width: 70%;
}
.container-crew1{
    display: grid;
}
.container-crew1 > *{
    margin: 0;
}
.container-crew-buttons{
    padding: 0 25vw;
    display: flex;
    justify-content: space-around;
    margin: 2vh 0;
}
.container-crew-buttons > button{
    border: none;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
}
.container-crew1 > h1{font-size: 2rem;}
.container-crew1 > h3{font-size: 1.5rem;}
.container-crew1 > p{
    margin-top: 3vh;
    font-size: 1rem;}
.crew-button-gray{background-color: gray;}
.crew-button-white{background-color: white;}