* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    margin: 0;
}

main {
    height: auto;
    background-color: hsl(30, 38%, 92%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main-card {
    background-color: white;
    margin: 5vw;
    border-radius: 15px;
}

.first-card {
    width: 100%;
}

.second-card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.prices {
    display: flex;
    align-items: center;
}

.price-149 {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 8vw;
}

.price-169 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    font-size: 3.5vw;
}

.img-perfume {
    height: auto;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.perfume {
    font-size: 3.5vw;
    letter-spacing: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.perfume-name {
    font-size: 8vw;
    font-family: 'Outfit', sans-serif;
    font-family: 'Fraunces', serif;
}

.perfume-description {
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}

button {
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    font-weight: bolder;
    font-size: 4vw;
    padding: 1rem;
    margin-bottom: 7vw;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:active {
    background-color: hsl(159, 36%, 17%);

}

.cart {
    margin-right: 0.5rem;
    font-weight: 700;
}

@media (min-width:600px) {
    main {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main-card {
        width: 30%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .img-perfume {
        height: 100%;
        border-radius: 15px 0 0 15px;
        content: url(images/image-product-desktop.jpg);
    }

    .second-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .perfume {
        margin: 0.5vw;
        font-size: 0.5vw;
        letter-spacing: 0.5rem;
        font-family: 'Montserrat', sans-serif;
    }

    .perfume-name {
        margin: 0.5vw;
        font-size: 1.5vw;
        font-family: 'Outfit', sans-serif;
        font-family: 'Fraunces', serif;
    }

    .perfume-description {
        margin: 0.5vw;
        font-size: 0.7vw;
        font-family: 'Montserrat', sans-serif;
        line-height: 3vh;
    }

    .price-149 {
        margin: 0.5vw;
        color: hsl(158, 36%, 37%);
        font-family: 'Fraunces', serif;
        font-size: 1.7vw;
        margin-right: 1.5rem;
    }

    .price-169 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        text-decoration: line-through;
        font-size: 0.7vw;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        font-size: 0.8vw;
        font-weight: bolder;
        padding: 0.7rem;
        border-radius: 0.3vw;
    }

    .attribution {
        font-size: 1.1vw;
    }
}