* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    flex-direction: column;
    background-color: black;
}

main {
    background-color: hsl(244, 38%, 16%);
    width: 90%;
    margin: 10vw auto;
    border-radius: 5vw;
}

.first-card {
    position: relative;
}

.img-header {
    width: 100%;
    border-radius: 5vw 5vw 0 0;
}

.img-filter {
    border-radius: 5vw 5vw 0 0;
    top: 0%;
    position: absolute;
    background-color: hsla(277, 64%, 61%, 0.5);
    height: 100%;
    width: 100%;
}

.second-card {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 4vw;
    color: white;
}

h1 {
    font-size: 5vw;
}

p {
    font-size: 3vw;
}

.text-purple {
    color: hsl(277, 64%, 61%);
}

.text-color-gray {
    color: hsla(0, 0%, 100%, 0.75);
}

.divs-details {
    margin: 3vw 0;
}

.details {
    padding: 0;
    margin: 0;
}

.img-header {
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 40rem) {
    main {
        width: 80%;
        height: 20%;
        border-radius: 1vw;
    }

    .main-card {
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
    }

    .img-header {
        border-radius: 0 1vw 1vw 0;
    }

    .img-filter {
        border-radius: 0 1vw 1vw 0;

    }

    .first-card {
        width: 50%;
    }

    .second-card {
        width: 50%;
    }

    .row-stats {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        font-size: 2vw;
    }

    p {
        font-size: 1vw;
    }
}