.destination {
    text-align: center;
    font-size: 0.5rem;
}
.container-destination{
    margin-top: 5vh;
}
.destination > img{
    justify-self: center;
    width: 50%;
    margin: 5vh 0;
}
.background-destination {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
}
.container-destination-buttons{
    padding: 0 25vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    margin: 2vh 0;

}
.container-destination-buttons > button{
    font-family: var(--ff-sans-cond);
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.destination-hr-buttons{
    grid-column: 1;
    width: 100%;
    border: none; 
    border-bottom: 3px solid white; 
    margin: 5px 0;
}
.container-destination1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container-destination1 > *{
    margin: 0;
    grid-column: 4 span;
    font-size: 1rem;
}
.container-destination1 > h1{font-size: 4rem;}
.destination-hr{
    width: 100%;
    border: none; 
    height: 1px; 
    border-bottom: 1px solid gray; 
    margin: 5vh 0;
}
.container-travel{
    display: grid;
}
.info-distance{
    font-size: 2rem;
    grid-row: 2;
}
.info-travel{
    font-size: 2rem;
}

@media only screen and (min-width: 650px) {
    .background-destination {
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
    .container-destination{margin-top: 15vw;}

    .container-destination2 h1{
        font-size: 1.8rem;
    }
    .container-destination-buttons{
        grid-template-columns: minmax(30px, auto) minmax(30px, auto) minmax(30px, auto) minmax(30px, auto) 1fr;
        grid-column-gap: 10%;
    }
    .container-destination-buttons > button{
        letter-spacing: 0.2rem;
        font-size: 1.6rem;
    }
    .container-destination1 > h1{font-size: 6rem;}
    .container-destination1 > h3{font-size: 3rem;}
    .container-destination1 > p{font-size: 1.5rem;}
    .container-travel{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container-travel p{
        font-size: 1.2rem;
        grid-row: 1;
    }
    .container-travel h3{font-size: 3rem;}
}

@media only screen and (min-width: 1300px) {
    .background-destination {
        background-image: url(../assets/destination/background-destination-desktop.jpg);
    }
    .container-destination{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        padding: 0;
    }
    .container-destination-buttons{
        grid-template-columns: minmax(30px, auto) minmax(30px, auto) minmax(30px, auto) minmax(30px, auto) 1fr;
        grid-column-gap: 10%;
    }
    .container-destination1 > h1{
        justify-self: start;
        font-size: 6rem;
    }
    .container-destination1 > p{
        text-align: left;
        font-size: 1.2rem;
    }
    .container-travel > h3{
        justify-self: start;
        font-size: 2rem;
    }
    .container-travel > p{
        justify-self: start;
        font-size: 1rem;
    }
    .destination > img{
        justify-self: center;
        width: 50%;
        margin: 5vh 0;
    }
    .container-destination2 h1{
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }
    .container-destination1{
        grid-template-columns: 1fr;
        width: 35vw;
    }
    .container-destination-buttons{
        width: 30vw;
        padding: 0;
        letter-spacing: 0.2rem;
        font-size: 1.6rem;
    }
}